
header {
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas:
    "h2 refresh";
}

h2 {
    grid-area: h2;
}

.refresh {
    grid-area: refresh;
}

body {
    color: gray;
}


.degree {
    font-size: 80px;
    font-weight: bold;
    align-self: center;
}

.city_info {
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr 3fr;
    align-items: center;
    text-align: center;
}

.city_info:nth-child(1) {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

.city_info:nth-child(4) {
    text-align: right;
    margin-left: 40px;
}

.icon_small {
    width: 64px;
    height: 64px;
    float: right;

}

.degree_small {
    font-size: 45px;
    font-weight: bold;
}

.city_name {
    font-weight: bold;
}

.weather_element {
    display: block;
    padding-left: 40px;
    padding-right: 40px;

}

.weather_element li {
    display: inline-block;
    color: white;
    margin-top: 10px;
    background-color: gray;
    list-style: none

}

h2 {
    font-style: italic;
}

.main_city {
    padding-left: 40px;

    display: grid;
    grid-template-columns: 1fr 0.9fr 1.1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0 0;
    grid-template-areas:
    "City-Name City-Name weather_element weather_element"
    "weather_icon degree weather_element weather_element"

}

h1 {
    grid-area: City-Name;
}

.weather_element {
    grid-area: weather_element;
}

.weather_icon {
    grid-area: weather_icon;
}

.degree {
    grid-area: degree;
}

.weather_element li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: stretch;
}

.weather_element li span:nth-child(2) {
    text-align: end;
}

/* Style the links inside the navigation bar */
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 17px;
    margin: 0;
}

.refresh:hover {
    background: rgb(211, 211, 211);
    color: white;
    border-width: 0;
}

.refresh:active {
    background: black;
    color: white;
    border-width: 0;

}

.add_and_close:hover {
    background: rgb(211, 211, 211);
    color: white;
    border-width: 0;
}

.add_and_close:active {
    background: black;
    color: white;
    border-width: 0;


}

.weather_icon {
    align-self: center;
}

.city_favorites {
    padding-right: 40px;
    padding-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.city_favorites:nth-child(2) {
}

.city_favorites span {
    text-align: right;
}

.add_city {
    height: 50%;

}

.add_and_close {

    text-decoration: none;
    align-self: center;
    color: white;
    background: gray;
    border-radius: 50%;
    transition: 0.2s;
    width: 32px;
    height: 32px;
    font-weight: bold;
    font-size: 16px;
}

button {
    border: none;
    outline: none;
}

.refresh {
    border-width: 0;
    width: 50%;

    align-self: center;
    font-size: 2vmax;
    color: rgb(138, 138, 138);
    text-decoration: none;
    background: rgba(180, 180, 180, 0.3);
    transition: 0.2s;
}

.weather_elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5vmax;
    list-style: none;
}


.refresh {
    display: inline-block;
}

.refresh img {
    display: none;
    width: 64px;
    height: 64px;
}

.refresh span {
    display: block;
}

.add_city_text_bar {
    width: 50%;
    font-size: 24px;
}

h2 {
    padding-left: 40px;
}


/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media only screen and (max-width: 1000px) {
    header {
        grid-template-columns: 0.75fr 0.25fr;

    }
    .add_city_text_bar{
        width: inherit;
    }
    .add_and_close {
        width: 64px;
        height: 64px;
        font-size: 48px;
    }

    .refresh {
        width: min-content;
        height: min-content;
    }

    .refresh span {
        display: none;
    }

    .refresh img {
        border-radius: 50%;
        display: inline-block;
    }

    .weather_elements {
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .main_city .weather_element {
        padding-right: 0;
        padding-left: 0;
    }

    .main_city {
        padding-right: 40px;
        grid-template-columns: 1fr 1fr;
        height: min-content;
        grid-template-rows: 0.3fr 1fr 0.5fr;
        grid-template-areas:
    "City-Name City-Name "
    "weather_icon degree"
    "weather_element weather_element"
    }

    .city_favorites {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .city_favorites span {
        text-align: left;
    }

    .icon_small {

        width: 64px;
        height: 64px;
    }

    .weather_icon {
        width: 256px;
        height: 256px;
    }

    .add_city_text_bar {
        font-size: 48px;
    }

    .degree {
        font-size: 128px;
    }

    h2 {
        font-size: 64px;
    }
    body {
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 320px) {

}